# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# IDE
.idea/
.vscode/

# Dependency directories
venv/
venv2/
env/
env2/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.tar.gz
*.deb
*.rpm

# Logs and databases
*.log
*.sql
*.sqlite3

# Other
*.pyc
.DS_Store

# volume
volume/
.env
